body, section {			/* Change width and height to own preferences */
	width: 250px;
	height: 150px;
	overflow-x: hidden;
	background-color: #333333;
}

section { padding: 5px;}
.navbar { margin-bottom: 2px; }

/* Titulo: Modo Full Estudio */
.titulo {
	color: white;
	text-align: center;
}

/* Imagenes Ibai */
.ibaleft {
	text-align: right;
	margin-right: 0;
	padding-right: 0;
}
.ibairight {
	text-align: left;
	
}

/* Footer */
.footercool {
	color: rgba(255, 255, 255, .5);
}
.footercool a {
	color: rgba(255, 255, 255, .5);
	font-size: 12px;
}
.col.twlogo {
	text-align: right;
}

/* Toogle */
.toggle {
	align-self: center;
	margin-top: 3%;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(46px);
	-ms-transform: translateX(46px);
	transform: translateX(46px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }